@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

#hero {
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;



}

/* #hero button:hover {
  background-color: #d56060 !important;
  border: .2px solid #FDFAEC !important;

  color: black !important;
  transition-duration: .2s;
  cursor: pointer;

} */

/* a {
  text-decoration: none !important;
  color: black
}

a:active {
  border-bottom: 1px solid black;
} */